{% extends 'paulslist/base.html' %}
{% block body %}

<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <ul>
      {% for item in latest %}
        <li><a href="{% url 'detail' latest.id %}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="well">
      <ul>
      {% for country in countries %}
        <li><a href="{% url 'list' country %}">{{ country }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
